# Task: Top Cuisines
Determine the top three most
common cuisines in the dataset.
Calculate the percentage of
restaurants that serve each of the top
cuisines.

In [2]:
import pandas as pd
df = pd.read_csv("Dataset.csv")
df.head(3)

,Restaurant ID,Restaurant Name,Country Code,City,Address,Locality,Locality Verbose,Longitude,Latitude,Cuisines,...,Currency,Has Table booking,Has Online delivery,Is delivering now,Switch to order menu,Price range,Aggregate rating,Rating color,Rating text,Votes
0,6317637,Le Petit Souffle,162,Makati City,"Third Floor, Century City Mall, Kalayaan Avenu...","Century City Mall, Poblacion, Makati City","Century City Mall, Poblacion, Makati City, Mak...",121.027535,14.565443,"French, Japanese, Desserts",...,Botswana Pula(P),Yes,No,No,No,3,4.8,Dark Green,Excellent,314
1,6304287,Izakaya Kikufuji,162,Makati City,"Little Tokyo, 2277 Chino Roces Avenue, Legaspi...","Little Tokyo, Legaspi Village, Makati City","Little Tokyo, Legaspi Village, Makati City, Ma...",121.014101,14.553708,Japanese,...,Botswana Pula(P),Yes,No,No,No,3,4.5,Dark Green,Excellent,591
2,6300002,Heat - Edsa Shangri-La,162,Mandaluyong City,"Edsa Shangri-La, 1 Garden Way, Ortigas, Mandal...","Edsa Shangri-La, Ortigas, Mandaluyong City","Edsa Shangri-La, Ortigas, Mandaluyong City, Ma...",121.056831,14.581404,"Seafood, Asian, Filipino, Indian",...,Botswana Pula(P),Yes,No,No,No,4,4.4,Green,Very Good,270

In [3]:
#Checking for missing values in the dataset
df.isnull().sum()

Restaurant ID           0
Restaurant Name         0
Country Code            0
City                    0
Address                 0
Locality                0
Locality Verbose        0
Longitude               0
Latitude                0
Cuisines                9
Average Cost for two    0
Currency                0
Has Table booking       0
Has Online delivery     0
Is delivering now       0
Switch to order menu    0
Price range             0
Aggregate rating        0
Rating color            0
Rating text             0
Votes                   0
dtype: int64

In [4]:
#Cleaning the dataset, handling the missing values in the Cuisines columnn
df_cleaned = df.dropna(subset=['Cuisines'])

In [7]:
#Splitting the data in cuisines column and removing extra spaces 
cuisines_split = df_cleaned ['Cuisines'].str.split(',').explode().str.strip()
#Counting the values of cuisines in the dataset
cuisines_counts = cuisines_split.value_counts()
#Calculating the percentage of cuisines per restaurants
total_restaurants=len(df_cleaned)
cuisines_percentage=(cuisines_counts/total_restaurants * 100).round(2)
cuisines_percentage

North Indian      41.50
Chinese           28.66
Fast Food         20.81
Mughlai           10.43
Italian            8.01
                  ...
Fish and Chips     0.01
Malwani            0.01
Cuisine Varies     0.01
Soul Food          0.01
B�_rek             0.01
Name: Cuisines, Length: 145, dtype: float64

In [8]:
#looking for the top three cuisines 
result=pd.DataFrame({
    "Cuisines":cuisines_counts.index,
    "Counts":cuisines_counts.values,
    "Percentage":cuisines_percentage.values
})
top_three_cuisines=result.head(3)
print(f"The top three Cuisines in the dataset are given below\n {top_three_cuisines}")

The top three Cuisines in the dataset are given below
        Cuisines  Counts  Percentage
0  North Indian    3960       41.50
1       Chinese    2735       28.66
2     Fast Food    1986       20.81