# Task: City Analysis
Identify the city with the highest number
of restaurants in the dataset.
Calculate the average rating for
restaurants in each city.
Determine the city with the highest
average rating.

In [2]:
import pandas as pd
df = pd.read_csv("Dataset.csv")
df.columns

Index(['Restaurant ID', 'Restaurant Name', 'Country Code', 'City', 'Address',
       'Locality', 'Locality Verbose', 'Longitude', 'Latitude', 'Cuisines',
       'Average Cost for two', 'Currency', 'Has Table booking',
       'Has Online delivery', 'Is delivering now', 'Switch to order menu',
       'Price range', 'Aggregate rating', 'Rating color', 'Rating text',
       'Votes'],
      dtype='object')

In [4]:
cleaned=df.dropna(subset=['City', 'Aggregate rating'])
city_counts = cleaned['City'].value_counts()
city_restaurants_max=city_counts.idxmax()
city_max_value=city_counts.max()
print(f"City with the highest number of restaurant is {city_restaurants_max} with {city_max_value}")

City with the highest number of restaurant is New Delhi with 5473

In [5]:
average_rating=cleaned.groupby('City')['Aggregate rating'].mean().round(2)
print(f"The Average Rating of Restaurant for Each City are as follow\n{average_rating}")

The Average Rating of Restaurant for Each City are as follow
City
Abu Dhabi          4.30
Agra               3.96
Ahmedabad          4.16
Albany             3.56
Allahabad          3.40
                   ...
Weirton            3.90
Wellington City    4.25
Winchester Bay     3.20
Yorkton            3.30
��stanbul          4.29
Name: Aggregate rating, Length: 141, dtype: float64

In [19]:
ave_rating_counts=average_rating.value_counts()
highest_rating=average_rating.idxmax()
highest_rating_value=average_rating.max()
print(f"The City with the highest average aggregate rating is\n {highest_rating} with {highest_rating_value}")

The City with the highest average aggregate rating is
 Inner City with 4.9